.header {
    font-size: 60px;
    text-align: center;
}

.mask{
    -webkit-animation: fadein 1.5s ease-in-out 1.4s;

}

@keyframes fadein {
    0% {opacity: 0}
    100% {opacity: 1}
}

.facebook {
    -webkit-animation: bound 1.5s ease-in-out 2.9s;
    display: inline-block;
    padding:  0px;
    height: 0px;
}
.facebook:hover{
    opacity: .5;
}
.twitter {
    -webkit-animation: bound 1.7s ease-in-out 3.1s;
    display: inline-block;
    padding:  0px;
    height: 0px;
}
.twitter:hover{
    opacity: .5;
}


.qiita {
    -webkit-animation: bound 1.9s ease-in-out 3.3s;
    display: inline-block;
    padding:  0px;
    height: 0px;
}
.qiita:hover{
    opacity: .5;
}

.github {
    -webkit-animation: bound 2.1s ease-in-out 3.5s;
    display: inline-block;
    padding:  0px;
    height: 0px;

}
.github:hover{
    opacity: .5;
}

.hatenablog {
    -webkit-animation: bound 2.3s ease-in-out 3.7s;
    display: inline-block;
    padding:  0px;
    height: 0px;
}
.hatenablog:hover{
    opacity: .5;
}


@-webkit-keyframes bound {
0% {transform: scale(0) translate(0,-500px);}
50% {transform: scaleX(2) translate(0,200px);}
70% {transform: scaleY(.5) translate(0,-100px);}
90% {transform: scaleX(1.5) translate(0,50px);}
100% {transform: scale(1) translate(0,0);}
}

.type-shine {
font-size: 60px;
position: relative;
}

.type-shine:before {
-webkit-animation: shine .6s ease 6.3s;
content:"";
position: absolute;
top: 0;
left: -250px;
width: 100%;
height: 100%;
transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);
}
@-webkit-keyframes shine {
0% {transform: rotate3d(0,0,1,-45deg) translate3d(0,-120%,0);background: rgba(255,255,255,0.5);}
100% {transform: rotate3d(0,0,1,-25deg) translate3d(0,150%,0);background: rgba(255,255,255,0.5);}
}

.accordion {
    margin: auto;
    padding: 0;
    width: 1000px;
    height:500;
    text-align: center;

}

.accordion label {
    font-size: 40px;
    display: block;
    margin: 1.5px 0;
    padding : 5px;
    color :#2f8fcf;
    font-weight: bold;
    background :#a4cbf3;
    cursor :pointer;
    transition: all 0.5s;
}

.accordion label:hover {
    background :#85baef;
}

.accordion input {
    display: none;
}

.accordion .shadow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.check:checked + .shadow {
    height: auto;
    padding: 5px;
    background: #eaeaea;
    opacity: 1;
}

.basicdata{
    margin:auto;
    padding:auto;
    text-align: auto;
}

#loader {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#loader img {
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10;
}
